{% extends "base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load perdiem %}

{% block extrastyle %}
    <link rel="stylesheet" href="{% static "css/extra/stats.css" %}" type="text/css" charset="utf-8" />
{% endblock %}

{% block content %}
    <h2>Top Investors</h2>

    <body onload="leaderLoadFunction()" style="margin:0;">

    <div id="loader"></div>

    <div style="display:none;" id="leader-loaded" class="animate-bottom">
        <div class="center">
            {% include "leaderboard/includes/list.html" with name='Investors' leaders=top_earned_investors %}
        </div>
    </div>

<script>
    var pageLoad;

    function leaderLoadFunction() {
        pageLoad = setTimeout(showPage, window.onload);
    }

    function showPage() {
      document.getElementById("loader").style.display = "none";
      document.getElementById("leader-loaded").style.display = "block";
    }
</script>
{% endblock %}
